.tabs_item {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 140px;
    padding-right: 140px;
}

.tabs_item:hover {
    background-color: #2F80ED;
}

.active {
    background-color: #2F80ED;
    border-bottom: 8px solid #FFFFFF;
}

.iClass {
    font-size: 50px;
    margin-bottom: 15px;
}

.spanClass {
    display: block;
    white-space: nowrap;
}